{% extends "base.html" %}

{% block content %}

<a class=" float-right btn-sm">
	<i></i>
</a>

<h1 class="text-center">House</h1>

<hr />

<a type="button" class="btn btn-outline-success btn-floating float-right btn-sm" href ="{% url 'users:add-item' %}">
	<i class="fa fa-plus"></i>
</a>

<section>
 <h2 class="text-center">Rooms</h2>

  <div class="row">
    <div class="col-xl-12 col-sm-6 col-3 ">
			<div class="card-deck" >
			  <div class="card mb-4" >
			    <div class="view overlay">
			      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/22.jpg"
			        alt="Card image cap">
			      <a href="#!">
			        <div class="mask rgba-white-slight"></div>
			      </a>
			    </div>
			    <div class="card-body">
			      <h4 class="card-title">Bed room</h4>
			      <a type="button" class="btn btn-light-blue btn-md" href ="{% url 'users:view-bedroom' %}">View</a>
			      <a type="button" class="btn btn-light-green btn-md" href="{% url 'users:lend-form' %}">Lend Now</a>
			    </div>
			  </div>

			  <div class="card mb-4">
			    <div class="view overlay">
			      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/21.jpg"
			        alt="Card image cap">
			      <a href="#!">
			        <div class="mask rgba-white-slight"></div>
			      </a>
			    </div>
			    <div class="card-body">
			      <h4 class="card-title">Kitchen</h4>
			      <button type="button" class="btn btn-light-blue btn-md">View</button>
			      <a type="button" class="btn btn-light-green btn-md" href="{% url 'users:lend-form' %}">Lend Now</a>
			    </div>
			  </div>

			  <div class="card mb-4">
			    <div class="view overlay">
			      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg"
			        alt="Card image cap">
			      <a href="#!">
			        <div class="mask rgba-white-slight"></div>
			      </a>
			    </div>
			    <div class="card-body">
			      <h4 class="card-title">Back Storage Room</h4>
			      <button type="button" class="btn btn-light-blue btn-md">View</button>
			      <a type="button" class="btn btn-light-green btn-md" href="{% url 'users:lend-form' %}">Lend Now</a>
			    </div>
			  </div>
			</div>
    </div>
  </div>
</section>

{% endblock content %}